.main-paragraph {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: yellow;
}

.about_title {
	padding-right: 75px;
}

.about-paragraph {
	padding-right: 75px;
}

.back-link {
	padding: 75px;
}
